# SQLite Workshop

### Load Libraries

In [ ]:
import sqlite3
import pandas as pd

### Load GitHub repo

In [ ]:
%cd /content/
%rm -r ./2022TeamBDataEngineeringBC
!git clone https://github.com/Fuenfgeld/2022TeamBDataEngineeringBC.git
%cd ./2022TeamBDataEngineeringBC/

### Connect to Database

In [ ]:
conn = sqlite3.connect('sqlite_example.db')
print("Opened database successfully");

### Load CSVs into SQLite tables

In [ ]:
food = pd.read_csv('tables/Futter.csv', sep=";")
producer = pd.read_csv('tables/Futterhersteller.csv', sep=";")
animals = pd.read_csv('tables/Tier.csv', sep=";")


food.to_sql('food', conn, if_exists="replace", index=False)
producer.to_sql('producer', conn, if_exists="replace", index=False)
animals.to_sql('animals', conn, if_exists="replace", index=False)

In [ ]:
conn.execute('''SELECT * FROM food''').fetchall()