In [ ]:
# import libraries
import sqlite3
from sqlite3 import Error

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


if __name__ == '__main__':
    create_connection(r"/content/drive/MyDrive/SQLite_DB/pythonsqlite.db")

2.6.0

In [ ]:
#Connecting to sqlite
# connection object
connection_obj = sqlite3.connect('pythonsqlite.db')

# cursor object
cursor_obj = connection_obj.cursor()

# Drop the ANIMALS table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS ANIMALS")

# Creating table
table = """ CREATE TABLE ANIMALS(
      ANIMAL_ID INTEGER PRIMARY KEY,
      Name VARCHAR(255) NOT NULL,
			Typ CHAR(25) NOT NULL,
			Pr√§dator BOOLEAN NOT NULL,
			Score INT

		); """

cursor_obj.execute(table)

print("Table is Ready")

# Close the connection
connection_obj.close()

Table is Ready

In [ ]:
# Import module
#import sqlite3

# Connecting to sqlite
conn = sqlite3.connect('pythonsqlite.db')

# Creating a cursor object using the
# cursor() method
cursor = conn.cursor()

# Queries to INSERT records.
cursor.execute('''INSERT INTO ANIMALS VALUES (1,'BIBER', '7th', 'FALSE',12)''')
cursor.execute('''INSERT INTO ANIMALS VALUES (2,'Feldhase', '8th', 'FALSE',34)''')
cursor.execute('''INSERT INTO ANIMALS VALUES (3,'Gelbbauchunke', '9th', 'TRUE',55)''')

# Display data inserted
print("Data Inserted in the table: ")
data=cursor.execute('''SELECT * FROM ANIMALS''')
for row in data:
	print(row)

# Commit your changes in the database	
conn.commit()

# Closing the connection
conn.close()

Data Inserted in the table:
(1, 'BIBER', '7th', 'FALSE', 12)
(2, 'Feldhase', '8th', 'FALSE', 34)
(3, 'Gelbbauchunke', '9th', 'TRUE', 55)