# SQLite Workshop

### Load Libraries

In [ ]:
import sqlite3
import pandas as pd

### Load GitHub repo

In [ ]:
%cd /content/
%rm -r ./2022TeamBDataEngineeringBC
!git clone https://github.com/Fuenfgeld/2022TeamBDataEngineeringBC.git
%cd ./2022TeamBDataEngineeringBC/

### Connect to Database

In [ ]:
conn = sqlite3.connect('sqlite_example.db')
cursor = conn.cursor()
print("Opened database successfully");

### Load CSVs into Dataframe

In [ ]:
food = pd.read_csv('tables/Futter.csv', sep=";")
producer = pd.read_csv('tables/Futterhersteller.csv', sep=";")
animals = pd.read_csv('tables/Tier.csv', sep=";")

### Create Tables

In [ ]:
cursor.execute('''
		CREATE TABLE producer (
			ID int primary key,
            Name nvarchar(50),
			Firmensitz nvarchar(50),
			Produktionsstaette nvarchar(50)
			)
               ''')


cursor.execute('''
		CREATE TABLE food (
			F_ID int primary key,
            Art nvarchar(50),
			Kosten_pro_KG float,
            Enthaelt_Fleisch boolean,
            Hersteller int,
			foreign key(Hersteller) references producer(ID)
			)
               ''')

### Insert Dataframe in Table

In [ ]:
for row in producer.itertuples():
    cursor.execute('''
                INSERT INTO producer (ID, Name, Firmensitz, Produktionsstaette)
                VALUES (?,?,?,?)
                ''',
                (row.ID, 
                row.Name,
                row.Firmensitz,
                row.Produktionsstaette
                ))
conn.commit()



for row in food.itertuples():
    cursor.execute('''
                INSERT INTO food (F_ID, Art, Kosten_pro_KG, Enthaelt_Fleisch, Hersteller)
                VALUES (?,?,?,?,?)
                ''',
                (row.F_ID, 
                row.Art,
                row.Kosten_pro_KG,
                row.Enthaelt_Fleisch,
                row.Hersteller,

                ))
conn.commit()

### Output table contents

In [ ]:
output = cursor.execute('''SELECT * FROM producer''').fetchall()
print(output)

output2 = cursor.execute('''SELECT * FROM food''').fetchall()
print(output2)

### Close connection

In [ ]:
conn.close()