In [3]:
# import libraries
import sqlite3
from sqlite3 import Error

In [4]:
#from google.colab import drive
#drive.mount('/content/drive')

In [5]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


if __name__ == '__main__':
    create_connection(r"/content/drive/MyDrive/SQLite_DB/pythonsqlite.db")

unable to open database file

In [6]:
#Connecting to sqlite
# connection object
connection_obj = sqlite3.connect('pythonsqlite.db')

# cursor object
cursor_obj = connection_obj.cursor()

# Drop the ANIMALS table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS ANIMALS")

# Creating table
table = """ CREATE TABLE ANIMALS(
          ANIMAL_ID INTEGER PRIMARY KEY,
          Name VARCHAR(255) NOT NULL,
			Typ CHAR(25) NOT NULL,
			Pr√§dator BOOLEAN NOT NULL,
			Score INT
		); """

cursor_obj.execute(table)

print("Table is Ready")

# Close the connection
connection_obj.close()

Table is Ready

In [7]:
# Import module
#import sqlite3

# Connecting to sqlite
conn = sqlite3.connect('pythonsqlite.db')

# Creating a cursor object using the
# cursor() method
cursor = conn.cursor()

# Queries to INSERT records.
cursor.execute('''INSERT INTO ANIMALS VALUES (1,'BIBER', '7th', 'FALSE',12)''')
cursor.execute('''INSERT INTO ANIMALS VALUES (2,'Feldhase', '8th', 'FALSE',34)''')
cursor.execute('''INSERT INTO ANIMALS VALUES (3,'Gelbbauchunke', '9th', 'TRUE',55)''')

# Display data inserted
print("Data Inserted in the table: ")
data=cursor.execute('''SELECT * FROM ANIMALS''')
for row in data:
	print(row)

# Commit your changes in the database	
conn.commit()

# Closing the connection
conn.close()

Data Inserted in the table:
(1, 'BIBER', '7th', 'FALSE', 12)
(2, 'Feldhase', '8th', 'FALSE', 34)
(3, 'Gelbbauchunke', '9th', 'TRUE', 55)

### CSV Einlesen
In diesem Teil wird eine existierende CSV Datei in eine Datenbank Tabelle geladen.

In [39]:
import csv

conn = sqlite3.connect('pythonsqlite.db')
cursor = conn.cursor()

cursor.execute("DROP TABLE IF EXISTS ANIMALS")
cursor.execute("""CREATE TABLE ANIMALS (life_expectancy, class, max_height, max_weight, food, feeding_amount);""")
with open('Tabellen/Tier.csv','r') as tiere: # `with` statement available in 2.5+
    dr = csv.DictReader(tiere, delimiter=";")
    to_db = [(i['Lebenserwartung'],
              i['Klasse'],
              i['Maximal Hoehe in cm'],
              i['Maximal Gewicht in kg'],
              i['Futter'],
              i['Futtermenge in KG pro Monat']) for i in dr]
cursor.executemany("INSERT INTO ANIMALS (life_expectancy, class, max_height, max_weight, food, feeding_amount) VALUES (?, ?, ?, ?, ?, ?);", to_db)


cursor.execute("DROP TABLE IF EXISTS FOOD")
cursor.execute("""CREATE TABLE FOOD (kind, price_per_kg, contains_meat, Manufacturers);""")
with open('Tabellen/Futter.csv','r') as tiere: # `with` statement available in 2.5+
    dr = csv.DictReader(tiere, delimiter=";")
    to_db = [(i['Art'],
              i['Kosten pro KG'],
              i['Enthaelt Fleisch'],
              i['Hersteller']) for i in dr]
cursor.executemany("INSERT INTO FOOD (kind, price_per_kg, contains_meat, Manufacturers) VALUES (?, ?, ?, ?);", to_db)


cursor.execute("DROP TABLE IF EXISTS MANUFACTURERS")
cursor.execute("""CREATE TABLE MANUFACTURERS (ID, name, head_office, production_site);""")
with open('Tabellen/Futterhersteller.csv','r') as tiere: # `with` statement available in 2.5+
    dr = csv.DictReader(tiere, delimiter=";")
    to_db = [(i['ID'],
              i['Name'],
              i['Firmensitz'],
              i['Produktionsstaette']) for i in dr]
cursor.executemany("INSERT INTO MANUFACTURERS (ID, name, head_office, production_site) VALUES (?, ?, ?, ?);", to_db)




data=cursor.execute('''SELECT * FROM ANIMALS''')
for row in data:
	print(row)
conn.commit()
print("------------------------")
data=cursor.execute('''SELECT * FROM FOOD''')
for row in data:
	print(row)
conn.commit()
print("------------------------")
data=cursor.execute('''SELECT * FROM MANUFACTURERS''')
for row in data:
	print(row)
conn.commit()

conn.close()

('13', 'Saeugetier', '61', '34', 'Hundefutter', '12')
('15', 'Saeugetier', '25', '4,5', 'Katzenfutter', '9,3')
('2', 'Saeugetier', '4', '0,005', 'Getreidemischung', '0,05')
('3', 'Saeugetier', '4', '0,15', 'Hamsterfutter', '')
('35', 'Saeugetier', '150', '600', 'Pferdefutter', '20')
('30', 'Fisch', '2', '2', 'Fischfutter', '')
------------------------
('Hundefutter', '4,3', 'Ja', '1')
('Katzenfutter', '2,7', 'Ja', '2')
('Getreidemischung', '10', 'Nein', '3')
('Hamsterfutter', '', '', '3')
('Pferdefutter', '0,65', 'Nein', '4')
('Fischfutter', '2,5', 'Nein', '5')
------------------------
('1', 'Wau Dosenfutter', 'Deutschland', 'Deutschland')
('2', 'Miau Dosenfutter', 'Frankreich', 'Deutschland')
('3', "Jerry's Getreide", 'China', 'China')
('4', 'Hottehue', 'China', 'Taiwan')
('5', 'Blubb', 'Atlantis', 'Atlantis')